<div class=show-view>
  <h5>Title:</h5>
  <h5><%= @book.title %></h5>
</div>

<div class=show-view-2>
  <h5>Body:</h5>
  <h5><%= @book.body %></h5>
</div>

<div class=show-view-button>
  <span class=Edit-button><%= link_to "Edit", edit_book_path(@book.id),class: "link" %></span>
  <span class=Back-button><%= link_to "Back", "/books" %></span>
</div>
